.crate_modal_content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 27vw;
    height: 40vh;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.create_category_title {
    font-size: 25px;
}

.create_category_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create_category_input_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.create_category_input_error_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create_category_input_box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create_category_input_box > span {
    font-size: 1.2vw;
    align-self: center;
    margin-right: 10px;
}

.create_category_input_name {
    padding-left: 5px;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.create_category_input_color {
    width: 3.3rem;
    height: 2.5rem;
    border: none;
    background-color: white;
    outline: none;
}

.create_category_choice_box {
    display: flex;
    gap: 0.5rem;
}

.create_category_preview_box {

}

.create_category_choice_box > button {
    font-size: 1.1vw;
    padding: 5px 10px;

}