.create_folder_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.create_folder_modal_content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    min-height: 33vh;
    max-height: 55vh;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.create_folder_title {
    font-size: 24px;
}

.create_folder_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create_folder_input_container {
    display: flex;
    width: 25vw;
    min-height: 35vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create_folder_input_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
}

.create_folder_input_box > span {
    font-size: 1.3vw;
    align-self: center;
    margin-right: 10px;
}

.create_folder_input_name {
    font-size: 1.4vw;
    padding-left: 5px;
    width: 13vw;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.create_folder_input_category_box {
    display: flex;
    flex-direction: row;
    width: 20vw;
    align-items: center;
    margin-right: 1.3vw;
    margin-top: 3vh;
    gap: 0.5vw;
}

.create_folder_input_category_box > span {
    font-size: 1.2vw;
    align-self: center;
}

.create_folder_input_category {
    font-size: 0.9rem;
    max-height: 4.7vh;
    width: 13vw;
    border-bottom: 1px solid black;
    outline: none;
}

.create_folder_input_category_bigger {
    font-size: 0.9rem;
    max-height: 8vh;
    width: 14vw;
    border-bottom: 1px solid black;
    outline: none;
}

.archive_position_container {
    display: flex;
    gap: 0.5rem;
    margin-top: 3vh;
}

.archive_position_modal_click_btn_container {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.archive_position_info_title {
    font-size: 1.2vw;
    padding-left: 5px;
    width: 13.8vw;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.create_folder_choice_box {
    display: flex;
    gap: 0.5rem;
}

.common_btn {
    width: 4vw;
    height: 4vh;
}

.error_message {
    color: red;
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
}
